@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
html {
    background: linear-gradient(#ffc64d, #fff7e6);
    background-attachment: fixed;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
    height: 100%;
}

p {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 630px;
    height: 630px;
    margin: 50px auto;
    position: relative;
    border: 30px solid #262626;
    border-radius: 335px;
    box-shadow: 0px 0px 4px 4px #262626;
}

.box {
    height: 300px;
    width: 300px;
    float: left;
    cursor: pointer;
}

#green {
    background-color: #008000;
    border-top-left-radius: 300px;
    border-right: 15px solid #262626;
    border-bottom: 15px solid #262626;
}

#red {
    background-color: #991f00;
    border-top-right-radius: 300px;
    border-left: 15px solid #262626;
    border-bottom: 15px solid #262626;
}

#yellow {
    background-color: #cccc00;
    border-bottom-left-radius: 300px;
    border-right: 15px solid #262626;
    border-top: 15px solid #262626;
}

#blue {
    background-color: #003d99;
    border-bottom-right-radius: 300px;
    border-left: 15px solid #262626;
    border-top: 15px solid #262626;
}

#options {
    height: 250px;
    width: 250px;
    background-color: #f2f2f2;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 160px;
    left: 160px;
    border: 30px solid #262626;
    text-align: center;
}

#title {
    width: 200px;
    margin: 15px auto -15px auto;
    font-weight: bold;
    font-size: 20px;
    color: #262626;
    position: relative;
    top: 20px;
    line-height: 20px;
}

sup {
    font-size: 10px;
}

#buttonRow {
    margin: 40px auto;
}

#counter {
    margin-left: 20px;
    height: 45px;
    width: 60px;
    background-color: #330000;
    border: 5px solid #262626;
    float: left;
    border-radius: 10px;
    position: relative;
    top: 5px;
}

#level {
    color: red;
    line-height: 45px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}

#start {
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid black;
    box-shadow: 0px 1px 1px 2px #262626;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    top: 10px;
    left: 5px;
}

#start:active {
    top: 12px;
    box-shadow: 0px 0px 0px 2px #262626;
}

#strict {
    float: right;
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid black;
    box-shadow: 0px 1px 1px 2px #262626;
    cursor: pointer;
    position: relative;
    top: -25px;
    margin-right: 35px;
}

#strict:active {
    top: -23px;
    box-shadow: 0px 0px 0px 2px #262626;
}

#led {
    width: 8px;
    height: 8px;
    float: right;
    position: relative;
    right: 48px;
    background-color: #262626;
    border: 1px solid #262626;
    border-radius: 100%;
}

#buttonLabels {
    width: 210px;
    height: 30px;
    margin: 0 auto;
    position: relative;
}

.label {
    position: relative;
    top: -20px;
    width: 70px;
    float: left;
}

#startLabel {
    left: 3px;
}

#strictLabel {
    left: 3px;
}

#powerDiv {
    width: 122px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -15px;
}

.power {
    width: 70px;
    float: left;
}

#off {
    width: 30px;
    margin: 3px;
    text-align: right;
}

#power {
    width: 52px;
    height: 26px;
    background-color: #262626;
    border-radius: 3px;
    cursor: pointer;
}

#on {
    width: 30px;
    margin: 2px;
    text-align: left;
}

.switch {
    background-color: #4d94ff;
    width: 20px;
    height: 20px;
    margin: 3px;
}

#offPos {
    float: left;
}

#onPos {
    float: right;
    display: none;
}

h3 {
    margin-left: 20px;
    text-decoration: underline;
}

#levels {
    width: 30px;
}

footer {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}