.box {
    height: 300px;
    width: 300px;
    border: 2px black solid;
    float: left;
}

#container {
    width: 608px;
    margin: 50px auto;
}

#green {
    background-color: #008000;
    border-top-left-radius: 100%;
}

#red {
    background-color: #991f00;
    border-top-right-radius: 100%;
}

#yellow {
    background-color: #cccc00;
    border-bottom-left-radius: 100%;
}

#blue {
    background-color: #000066;
    border-bottom-right-radius: 100%;
}

#break {
    clear: both;
}