@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
html {
    background: linear-gradient(#ffc64d, #fff7e6);
    background-attachment: fixed;
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Lora', serif;
    color: #262626;
}

p {
    margin: 0;
}

#container {
    width: 95vmin;
    height: 95vmin;
    margin: 2vmin auto 0 auto;
    background-color: #262626;
    border: 2.5vmin solid #262626;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
}

#options {
    width: 45vmin;
    height: 45vmin;
    background-color: #fff;
    box-sizing: border-box;
    border: 2.5vmin solid #262626;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.box {
    width: 45vmin;
    height: 45vmin;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
}

#green {
    background-color: #008000;
    border-top-left-radius: 340px;
    border-right: 1.25vmin solid #262626;
    border-bottom: 1.25vmin solid #262626;
}

#red {
    background-color: #991f00;
    border-top-right-radius: 340px;
    border-left: 1.25vmin solid #262626;
    border-bottom: 1.25vmin solid #262626;
}

#yellow {
    background-color: #cccc00;
    border-bottom-left-radius: 340px;
    border-right: 1.25vmin solid #262626;
    border-top: 1.25vmin solid #262626;
}

#blue {
    background-color: #003d99;
    border-bottom-right-radius: 340px;
    border-left: 1.25vmin solid #262626;
    border-top: 1.25vmin solid #262626;
}

#title {
    font-size: 5vmin;
}

sup {
    font-size: 3vmin;
}

#counter {
    height: 7vmin;
    width: 9vmin;
    position: relative;
    left: 3vmin;
    background-color: #330000;
    border: 5px solid #262626;
    float: left;
    border-radius: 10px;
}

#level {
    color: red;
    line-height: 45px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}

#start {
    background-color: red;
    height: 6vmin;
    width: 6vmin;
    border-radius: 50%;
    border: 0.5vmin solid black;
    box-shadow: 0 0.5vmin 0.5vmin 0 #262626;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    top: 1vmin;
    /*    left: 5px;*/
}

#start:active {
    top: 12px;
    box-shadow: 0px 0px 0px 2px #262626;
}

#strict {
    float: right;
    background-color: yellow;
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
    border: 0.5vmin solid black;
    box-shadow: 0 0.25vmin 0.25vmin 0 #262626;
    cursor: pointer;
    position: relative;
    bottom: 4vmin;
    right: 7vmin;
}

#strict:active {
    top: -23px;
    box-shadow: 0px 0px 0px 2px #262626;
}

#led {
    width: 1vmin;
    height: 1vmin;
    float: right;
    position: relative;
    right: 9vmin;
    background-color: #262626;
    border: 1px solid #262626;
    border-radius: 50%;
}

#buttonLabels {
    height: 4vmin;
    position: relative;
    bottom: 3vmin;
    display: inline-flex;
    line-height: 3vmin;
}

.label {
    font-size: 3vmin;
    padding: 1vmin;
}

#powerDiv {
    width: 122px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -15px;
}

.power {
    width: 70px;
    float: left;
}

#off {
    width: 30px;
    margin: 3px;
    text-align: right;
}

#power {
    width: 52px;
    height: 26px;
    background-color: #262626;
    border-radius: 3px;
    cursor: pointer;
}

#on {
    width: 30px;
    margin: 2px;
    text-align: left;
}

.switch {
    background-color: #4d94ff;
    width: 20px;
    height: 20px;
    margin: 3px;
}

#offPos {
    float: left;
}

#onPos {
    float: right;
    display: none;
}

h3 {
    margin-left: 20px;
    text-decoration: underline;
}

#levels {
    width: 30px;
}

#instructions {
    position: relative;
    margin-bottom: 35px;
}

#numLevels {
    display: inline-block;
    padding-left: 2px;
}

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
}


/* Above 750px, elements are fixed width rather than scaling based on viewport size.
*/

@media screen and (min-width: 750px) {
    #container {
        width: 712px;
        height: 712px;
        border-width: 18px;
        margin-top: 15px;
    }
    .box {
        width: 338px;
        height: 338px;
        border-width: 9px !important;
    }
    #options {
        width: 338px;
        height: 338px;
        border-width: 18px;
    }
    #title {
        font-size: 38px;
    }
    sup {
        font-size: 22px;
    }
    #counter {
        margin-left: 20px;
        height: 45px;
        width: 60px;
        background-color: #330000;
        border: 5px solid #262626;
        float: left;
        border-radius: 10px;
        position: relative;
        top: 5px;
    }
    #start {
        background-color: red;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        border: 2px solid black;
        box-shadow: 0px 1px 1px 2px #262626;
        cursor: pointer;
        position: relative;
        margin: 0 auto;
        top: 10px;
        left: 5px;
    }
    #strict {
        float: right;
        background-color: yellow;
        height: 4vmin;
        width: 4vmin;
        border-radius: 50%;
        border: 0.5vmin solid black;
        box-shadow: 0px 1px 1px 2px #262626;
        cursor: pointer;
        position: relative;
        bottom: 25px;
        right: 35px;
    }
    #led {
        width: 8px;
        height: 8px;
        float: right;
        position: relative;
        right: 48px;
        background-color: #262626;
        border: 1px solid #262626;
        border-radius: 100%;
    }
    #buttonLabels {
        width: 210px;
        height: 30px;
        margin: 0 auto;
        position: relative;
    }
}